<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:jee="http://www.springframework.org/schema/jee"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd">

	<context:component-scan base-package="com.bms.admin.controller"/>
	
	<mvc:annotation-driven/>
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/views/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages"/>
	</bean>

	<bean id="loginInterceptor" class="com.bms.admin.interceptor.LoginInterceptor"/>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login"/>
			<ref bean="loginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 
	<Resource name="jdbc/betdb" 
		auth="Container" 
		type="javax.sql.DataSource"
	    driverClassName="com.mysql.jdbc.Driver"
	    url="jdbc:mysql://localhost:3306/betdb"
	    username="root" 
	    password="root"
	    initialSize="10"
	    maxTotal="50" 
	    maxIdle="20" 
	  	minIdle="5"
	    maxWaitMillis="10000"
	    validationQuery="select 1"
		closeMethod="close"/> 
	-->

	<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/bet_db"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
		<property name="initialSize" value="5"/>
    	<property name="maxActive" value="10"/>
	</bean> 
	-->

	<!-- 	
	<jee:jndi-lookup id="dataSource"
       jndi-name="java:comp/env/jdbc/betdb"
       resource-ref="true"
       lookup-on-startup="false"
       cache="true"
       expected-type="javax.sql.DataSource"/> 
    -->
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/bmsdb" />
        <property name="lookupOnStartup" value="false" />
        <property name="cache" value="true" />
        <property name="expectedType" value="javax.sql.DataSource" />
    </bean> 
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
</beans>